.nanobox-dash-ui-hourly-average {display:flex; flex-direction:column;
  .component      {

    //
    .circle       {fill:none; stroke:$light-gray; stroke-width:1; opacity:0.5;}
    .dash-circle  {fill:none; stroke:$gray; stroke-width:1; stroke-dasharray:6, 2; opacity:0.4;}

    //
    path          {fill:$light-gray; transition:fill 200ms;}

    //
    text          {fill:$gray; font-size:10px; text-anchor: middle; dominant-baseline: central;
      &.primary   {fill:$dark-gray; font-weight:bold}
    }
  }

  //
  .controls       {display:flex; align-items:center; justify-content:space-between;
    .metrics      {}
    .periods      {}
  }
}
