
// this mixin provides the cool/warm/hot "temperatures" for fills, strokes, etc.
@include core-temperatures();

$light-gray : #dedede;
$gray       : #9c9c9c;
$dark-gray  : #3f3f3f;

//
.nanobox-dash-ui-hourly-average {

  //
  .component      {

    //
    .circle       {fill:none; stroke:$light-gray; stroke-width:1; opacity:0.5;}
    .dash-circle  {fill:none; stroke:$gray; stroke-width:1; stroke-dasharray:6, 2; opacity:0.4;}

    //
    path          {fill:$light-gray; transition:fill 200ms;}

    //
    text          {fill:$gray; font-size:10px; text-anchor: middle; dominant-baseline: central;
      &.primary   {fill:$dark-gray; font-weight:bold}
    }
  }
}
