.nanobox-dash-ui-hourly-average
  .component
  
  //- 
  .controls
  
    //- 
    .control
      select.metrics
        each metric in metrics
          option(value=metric)= metric
        
    //- 
    .control
      .label over last
      select.periods
        each period in periods
          option(value=period.value)= period.text
